@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@200;700 & display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;

}
header{
    height: 100px;
}
h1{
    text-align: center;
    padding: 60px;
}
aside{
    height: 900px;
    width: 1149px;
    margin-top: -900px;
    margin-left: 200px;
}
section{
    height: 900px;
    width: 200px;
    overflow-y: auto;
}
.foto1{
    margin: auto;
    display: block;
    padding-bottom: 15px;
    width: 150px;
    height: 188px;
    filter: grayscale(100%);
}
.foto1:hover{
    filter: grayscale(0);
    transition: 1s;
}
.foto2:hover{
    filter: grayscale(0);
    transition: 1s;
}
.foto3:hover{
    filter: grayscale(0);
    transition: 1s;
}
.foto4:hover{
    filter: grayscale(0);
    transition: 1s;
}
.foto5:hover{
    filter: grayscale(0);
    transition: 1s;
}
.foto2{
    margin: auto;
    display: block;
    padding-bottom: 15px;
    width: 150px;
    height: 188px;
    filter: grayscale(100%);
}
.foto3{
    margin: auto;
    display: block;
    padding-bottom: 15px;
    width: 150px;
    height: 188px;
    filter: grayscale(100%);
}
.foto4{
    margin: auto;
    display: block;
    padding-bottom: 15px;
    width: 150px;
    height: 188px;
    filter: grayscale(100%);
}
.foto5{
    margin: auto;
    display: block;
    padding-bottom: 15px;
    width: 150px;
    height: 188px;
    filter: grayscale(100%);
}